@use "../utils/" as u;

.container{
    @include u.breakpoints(desktop){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .tablist{
        @include u.breakpoints(desktop){
            border: 1px red solid;
         
        }
    }
}