@use "../utils/" as u;

.container{
    @include u.breakpoints(desktop){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .tablist{
        @include u.breakpoints(desktop){
            border: 1px red solid;
         
        }
    }

    .tabPanel{
        display: none;
        visibility: hidden;
        @include u.breakpoints(desktop){
            display: block;
            visibility: visible;
        }

    }
}

.mobile{
    @include u.breakpoints(desktop){
        display: none;
    }
}