@use "../utils/" as u;

.contact{
    h2:first-child{
        @include u.breakpoints(desktop){
            display: none;
            visibility: hidden;
        }
    }
    .desktop-contact{
        visibility: hidden;
        display: none;
        @include u.breakpoints(desktop){
            visibility: visible;
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
        }
        
        h2{
            @include u.breakpoints(desktop){
                visibility: visible;
                display: block;
                font-weight: 700;
                font-size: 28px;
                letter-spacing: 0;
            }
        }

        button {
            background-color: u.$projectsBg;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            border: none;

            a{
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.17em;
              padding:  0rem 1rem;
            }
        }
    }

    form{
        input{
        @include u.breakpoints(desktop){
            width: 600px;
        }
    
        }
    }
}

