@use "../utils/" as u;

.container{
    @include u.breakpoints(desktop){
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .tabs{
        @include u.breakpoints(desktop){
        }
    }
}