@use "../utils/" as u;

.header{
    @include u.breakpoints(desktop){
        max-width: 530px;
        padding-bottom: 0rem;
        margin: 0;
    }

    h1{
        @include u.breakpoints(desktop){
         font-size: 64px;
         margin-bottom: 40px;
        }   
    }

    p{
        @include u.breakpoints(desktop){
            font-size: 20px;
            margin-bottom: 0;
        }
    }
    
    
    .links{
        @include u.breakpoints(desktop){
            visibility: hidden;
            margin: 0;
            padding: 0;
        }
    }

}
.desktop-links{
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: none;

    @include u.breakpoints(desktop){
        visibility: visible;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        color: white;
        margin: 4rem 0;
        font-size: 16px;
        font-weight: 500;
    }

    .twitter, .github{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}



