@use "../utils/" as u;

nav{
    visibility: hidden;

    @include u.breakpoints(desktop){
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 2rem;
        
        .tab{
            display: flex;
            align-items: center;
            gap: 20px;
            
            span{
                color: white;
                font-size: 12px;
            }

            .line{
                border-top: 1px white solid;
                width: 50px;
            }
        }
    }
}