.services {
  color: white;
  border-top: 1px #444444 solid;
  padding-top: 2rem;
  margin: 2rem 0;
}

.services section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.services section div h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: rgb(212, 212, 212);
}

.services section div p {
  color: rgb(153, 153, 153);
  font-size: 15px;
  letter-spacing: 0.1rem;
}

.services-cards {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.service {
  border: 1px #444444 solid;
  border-radius: 5px;
  padding: 1rem;
  color: white;
}

.service h3 {
  font-weight: 400;
  color: rgb(212, 212, 212);
}

.service p {
  color: rgb(153, 153, 153);
  font-size: 15px;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  margin: 0;
}
