.services{
  margin-bottom: 5rem;
  color: white;
  border-top: 1px #444444 solid;
  padding-top: 2rem;
}

.services section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.services section div h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.services section div p {
  color: rgb(153, 153, 153);
  font-size: 15px;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}

.services-cards {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.service {
  border: 1px #444444 solid;
  border-radius: 5px;
  padding: 1rem;
  color: white;
}

.service h3{
  font-weight: 400;
}

.service p{
   color: #bbbbbb;
   font-size: 15px;
   letter-spacing: 0.025rem;
}