.services{
  margin-bottom: 5rem;
}

.services section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.services section div h2 {
  margin: 0;
  font-size: 30px;
}

.services section div p {
  font-size: 14px;
  max-width: 350px;
}

.services section button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.65rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
}

.services-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.service {
  background-color: black;
  border-radius: 5px;
  padding: 1rem;
  color: white;
}

.service h3{
  font-weight: 400;
}

.service p{
   color: #bbbbbb;
   font-size: 15px;
   letter-spacing: 0.025rem;
}