
/* backgrounds */
$pageBg:#1A1A1A;
$projectsBg:#222222;
$contactsBg: rgba(217, 217, 217, 0.06);
$unselectedProjectBackground: #141414;

/* texts */

$grayText: #9D9D9D;

/* border */

$contactsBorder: rgba(91, 91, 91, 1);
