@use "../utils/" as u;

.header{
    padding: 4rem 0;
    border: 1px red solid;

    h1{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p{
        color: u.$grayText;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    .links{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        color: white;
        margin: 2rem 0;
        font-size: 14px;
        font-weight: 500;

        .twitter, .github{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
        }

        .twitter{
            img{
                &:first-child{
                    width: 15px;
                    height: 12.19px;
                }

                &:last-child{
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .github{
            img{
                &:first-child{
                    width: 15px;
                    height: 14.64px;
                }
                &:last-child{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}