.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;
  margin: 1rem 0;
}

.header div h1 {
  font-size: 68px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: rgb(212, 212, 212);
}

.header div p {
  color: rgb(153, 153, 153);
  font-size: 20px;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: 1.5rem 0;
}

.links a {
  font-size: 30px;
  color: rgb(153, 153, 153);
}

.links a:last-child{
  font-size: 15px;
}

.links button {
  background-color: rgb(32, 32, 32);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
}
.links button a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header div h1 {
    font-size: 40px;
  }
}
