.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
}

.header div{
  margin-top: 5rem;
}

.header div h1{
  font-size: 68px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: rgb(212, 212, 212);
}

.header div p{
  color: gray;
  font-size: 20px;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}