.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5rem;
}

.header div h1 {
  margin: 10px 0;
}

.header div p {
  color: gray;
}

.header div button {
  margin-right: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 0.65rem 1.75rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  margin-top: 1rem;
  transition: all 0.5s linear;
}

.header div button:last-child {
  background-color: white;
  color: black;
  border: 1px rgb(197, 197, 197) solid;
}

.header div button:first-child:hover {
  background-color: white;
  color: black;
  border: 1px rgb(197, 197, 197) solid;
}
